<!--quiz footer -->
<div class="row" id="quiz-footer">

    <div class="col-xs-12 white padding-zero backg-gray media-powerup-heading">
        <div class="col-xs-6">
            <h5>POWERUPS</h5>
        </div>
        <div class="col-xs-6">
            <h5 class="text-right"><img src="assets/images/coin.svg" />&nbsp;20</h5>
        </div>
    </div>
    <!--<div class="col-xs-12 padding-zero  power-box margin-b20">
		<div class="col-sm-3  padding-zero text-center">
			<a href="#" class="text-center btn btn-default  btn-block pad-tb-zero mar" >
			<div class=" col-xs-12  pad-tb-zero twoicon-box margin-t5" >

				<img src="assets/images/clock.png"/>
				<img src="assets/images/coin.svg" />

				<h5>1</h5>
			</div>
			<div class="col-xs-12">
				<p>
					Extra Time
				</p>
			</div> </a>

		</div>
		<div class="col-sm-3 padding-zero text-center">
			<a href="#" class="text-center btn btn-default  btn-block pad-tb-zero">
			<div class=" col-xs-12  pad-tb-zero twoicon-box  " >
				<img src="assets/images/bomb.png"/>
				<img src="assets/images/coin.svg" />

				<h5 class="">5</h5>
			</div>
			<div class="col-xs-12 ">
				<p class="" style="margin-top:10px;">
					Bomb
				</p>
			</div> </a>

		</div>
		<div class="col-sm-3  padding-zero text-center">
			<a href="#" class="text-center btn btn-default  btn-block pad-tb-zero">
			<div class=" col-xs-12  pad-tb-zero twoicon-box margin-t5" >
				<img src="assets/images/replay.png"/>
				<img src="assets/images/coin.svg"/>

				<h5>5</h5>
			</div>
			<div class="col-xs-12 ">
				<p>
					Double Chance
				</p>
			</div> </a>

		</div>
		<div class="col-sm-3  padding-zero text-center">
			<a href="#" class="text-center btn btn-default btn-block pad-tb-zero">
			<div class=" col-xs-12  pad-tb-zero twoicon-box margin-t5" >
				<img src="assets/images/skip.png"/>
				<img src="assets/images/coin.svg"/>

				<h5>3</h5>
			</div>
			<div class="col-xs-12 ">
				<p>
					Skip
				</p>
			</div> </a>

		</div>

	</div> -->
    <!-- for mobile 
	<div class=" power-box">
		
		<div class=" col-xs-3 padding-zero">
			<a href="#" class="text-center btn btn-default btn-block padding-zero">
			<div class="col-xs-4 clipwrapper "><img src="assets/images/power.png" alt="arrow" class="clip pos-1" /></div>
			<div class="col-xs-4 "><img src="assets/images/coin.svg" /></div>
			<div class="col-xs-4">1</div>
			</a>
		</div>
		<div class=" col-xs-3 padding-zero">
			<a href="#" class="text-center btn btn-default btn-block padding-zero">
			<div class="col-xs-4 clipwrapper  "><img src="assets/images/power.png" alt="arrow" class="clip  pos-2" /></div>
			<div class="col-xs-4"><img src="assets/images/coin.svg" /></div>
			<div class="col-xs-4">1</div>
			</a>
		</div>
		<div class=" col-xs-3 padding-zero">
			<a href="#" class="text-center btn btn-default btn-block padding-zero">
			<div class="col-xs-4"><img src="assets/images/power.png" alt="arrow" class="clip pos-3" /></div>
			<div class="col-xs-4"><img src="assets/images/coin.svg" /></div>
			<div class="col-xs-4">1</div>
			</a>
		</div>
		<div class=" col-xs-3 padding-zero">
			<a href="#" class="text-center btn btn-default btn-block padding-zero">
			<div class="col-xs-4"><img src="assets/images/power.png" alt="arrow" class="clip pos-4" /></div>
			<div class="col-xs-4"><img src="assets/images/coin.svg" /></div>
			<div class="col-xs-4">1</div>
			</a>
		</div>

	</div>

	<!-- /for mobile -->
    <div class="col-xs-12 power-box padding-zero ">
        <div class=" col-xs-3 padding-zero">
            <a href="#" class="text-center btn btn-default btn-block padding-zero">
                <div class=" col-xs-8 padding-zero text-right">
                    <img src="assets/images/clock.png" />
                    <img class="coin-small" src="assets/images/coin.svg" /></div>
                <div class=" col-xs-4 padding-zero text-left media-power-number marg-t14">
                    <p>1</p>
                </div>
            </a>
            <div class="col-xs-12 text-center padding-zero small  margin-t-neg31">
                <h6 class="small hidden-lg hidden-md hidden-sm">Extra Time</h6>
                <h6 class="hidden-xs">Extra Time</h6>
            </div>

        </div>
        <div class=" col-xs-3 padding-zero">
            <a data-toggle="modal" data-target="#noBomb" href="#" class="text-center btn btn-default btn-block padding-zero">
                <div class=" col-xs-8 padding-zero text-right">
                    <img src="assets/images/bomb.png" />
                    <img class="coin-small" src="assets/images/coin.svg" /></div>
                <div class=" col-xs-4 padding-zero text-left media-power-number marg-t14">
                    <p>1</p>
                </div>
            </a>
            <div class="col-xs-12 text-center padding-zero small margin-t-neg31">
                <h6 class="small hidden-lg hidden-md hidden-sm">Bomb</h6>
                <h6 class="hidden-xs">Bomb</h6>
            </div>
        </div>
        <div class=" col-xs-3 padding-zero">
            <a href="#" class="text-center btn btn-default btn-block padding-zero">
                <div class=" col-xs-8 padding-zero text-right">
                    <img src="assets/images/replay.png" />
                    <img class="coin-small" src="assets/images/coin.svg" /></div>
                <div class=" col-xs-4 padding-zero text-left media-power-number marg-t14">
                    <p>1</p>
                </div>
            </a>
            <div class="col-xs-12 text-center padding-zero small mediah6 margin-t-neg31">
                <h6 class="small hidden-lg hidden-md hidden-sm">Double Chance</h6>
                <h6 class="hidden-xs">Double Chance</h6>
            </div>
        </div>
        <div class=" col-xs-3 padding-zero">
            <a href="#" class="text-center btn btn-default btn-block padding-zero">
                <div class=" col-xs-8 padding-zero text-right">
                    <img src="assets/images/skip.png" />
                    <img class="coin-small" src="assets/images/coin.svg" /></div>
                <div class=" col-xs-4 padding-zero text-left media-power-number marg-t14">
                    <p>1</p>
                </div>
            </a>
            <div class="col-xs-12 text-center padding-zero small  margin-t-neg31">
                <h6 class="small hidden-lg hidden-md hidden-sm">Skip</h6>
                <h6 class="hidden-xs">Skip</h6>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<!-- / quiz footer  -->
<!--noBomb modal-->
<div class="modal modal-fade " id="noBomb">
    <div class="modal-dialog">
        <div class="modal-content modal-discard text-center">
            <div class="modal-header">
                <!--<button type="button" onclick="clicksound.playclip()" class="close mynewclassclose" data-dismiss="modal" aria-hidden="true">
					<a href="#" class="btn  btn-red"><img src="assets/icons/close-small.svg"/></a>

				</button> -->
                <h4 class="modal-title text-center margin-tb40">No more coins.</h4>
            </div>
            <div class=" text-center margin-tb30">

                <a href="#" data-dismiss="modal" class="btn btn-aqua">Accept</a>
            </div>
        </div>
    </div>
</div>
<!-- /noBomb modal-->